.label-user {
    .user-information {
        display: flex;
        margin-bottom: 12px;

        .left {
            margin-right: 6px;
        }

        .right {
            width: 100%;

            .label {
                font-size: 24px;
                color: $colorPrimary;

                &:hover {
                    text-decoration: underline;
                }
            }

            .email {
                font-size: 20px;
                color: gray;
            }
        }
    }

    .introduce {
        //border-top: 1px solid $colorGray;
        padding-top: 3px;
    }
}
