.label-user {
    .user-information {
        display: flex;
        margin-bottom: 12px;

        .left {
            margin-right: 6px;
        }

        .right {
            width: 100%;

            .label {
                font-size: 24px;
                color: $colorPrimary;

                &:hover {
                    text-decoration: underline;
                }
            }

            .name{
                position: relative;
            }

            .email {
                font-size: 20px;
                color: gray;
            }
        }
    }

    .introduce {
        //border-top: 1px solid $colorGray;
        padding-top: 3px;
    }
}

.user-list{
    .user-information {
        .right {
            .label {
                font-size: 16px;
            }

            .name{
                margin-top: 14px;
            }

            .follow-tag{
                top: 1px;
                right: 0;
            }
        }
    }
}

.list-recipe-carousel{
    .btn-add{
        text-align: center;
        margin-bottom: $distanceComponent;
    }

    .title {
        font-size: $fontSizeMedium;
        font-weight: bold;
    }

    .recipe-list {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-bottom: 12px;
        //overflow-x: auto;

        .card-recipe {
            display: inline-block;
            width: 100%;
            height: 200px;
            //margin: 0 6px;
            margin-bottom: 12px;
            position: relative;

            .ant-card-cover{
                height: 200px;
                min-height: 200px;
                max-height: 200px;
                background-color: #00000069;
                img{
                    object-fit: cover;
                    height: 150px;
                    min-height: 200px;
                    max-height: 200px;
                }
            }

            .mask-card {
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 6px 12px;
                left: 0;
                bottom: 0;
                background-color: #00000069;
                color: #ffffffe6;

                .mark-title {
                    position: absolute;
                    bottom: 12px;
                    font-size: 24px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .mask-bottom {
                    font-size: 12px;

                    .mask-left {
                        display: inline-block;
                        float: left;

                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .mask-right {
                        display: inline-block;
                        float: right;
                    }
                }
            }
        }
    }

    .ant-card-body {
        padding: 12px;
    }
}
