.recipe-form {
    .btn-add-condition{
        padding-left: 162px;
        margin-bottom: 24px;
    }

    .radio-item{
        width: 100px;
    }

    .other-email{
        font-style: italic;
        color: $colorDanger;
    }
}
